@page
@model SoccerTournametManager.App.Frontend.Pages.Partidos.DetailsModel
@{
}
<h1>Detalle del partido</h1>
<div class="card m-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Partido</h5>
    <p class="card-text">
        <p> <strong>Id:</strong> @Model.partido.Id</p>
        @if (Model.partido.EquipoLocal != null)
        {
          <p> <strong>EquipoLocal:</strong> @Model.partido.EquipoLocal.Nombre</p>  
        }
        else
        {
          <p> <strong>EquipoVisitante:</strong> Sin equipo asignado</p>
        }
        @if (Model.partido.EquipoVisitante != null)
        {
          <p> <strong>EquipoVisitante:</strong> @Model.partido.EquipoVisitante.Nombre</p>
        }
        else
        {
          <p> <strong>EquipoVisitante:</strong> Sin equipo asignado</p>
        }
        <p> <strong>FechaHora:</strong> @Model.partido.FechaHora</p>
        @if (Model.partido.Estadio != null)
        {  
          <p> <strong>Estadio:</strong> @Model.partido.Estadio.Nombre</p>
        }
        else
        {
          <p> <strong>Estadio:</strong> Sin estadio asignado</p>
        }
        @if (Model.partido.Arbitro != null)
        {  
          <p> <strong>Arbitro:</strong> @Model.partido.Arbitro.Nombre</p>
        }
        else
        {
          <p> <strong>Arbitro:</strong> Sin arbitro asignado</p>
        }
    </p>
  </div>
</div>

<h1>Novedades</h1>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Minuto</th>
      <th scope="col">Jugador involucrado</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var novedad in Model.novedades)
    {
        <tr>
            <th scope="row">@novedad.Id</th>
            <td>@novedad.Novedad</td>
            <td>@novedad.Minuto</td>
            <td>Zidane</td>
        </tr>
    }
  </tbody>
</table>

</table>
<a class="btn btn-primary btn-block" asp-page="./Index">Back</a>