@page
@model SoccerTournametManager.App.Frontend.Pages.Estadios.IndexModel
@{
}
<h1>Listado de estadios</h1>


<form method="get">
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-primary mb-2" asp-page="./Create">Nuevo estadio</a>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <div class="form-group mb-2">
        <input name="b" id="b" class="form-control" placeholder="Nombre..." asp-for="@Model.bActual">
      </div>
      <button type="submit" class="btn btn-primary mb-2 ml-2">Buscar</button>
    </div>
</form>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Municipio</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var estadio in Model.estadios)
    {
        <tr>
            <th scope="row">@estadio.Id</th>
            <td>@estadio.Nombre</td>
            <td>@estadio.Direccion</td>
              @if (estadio.Municipio != null)
            {
              <td>@estadio.Municipio.Nombre</td>
            }
            else {
            <td>
              <a class="btn btn-primary" asp-page="./AddMunicipio" asp-route-id="@estadio.Id">Asignar municipio</a>
            </td>
            }
            <td>
              <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@estadio.Id">Editar</a>
            </td>
        </tr>
    }
  </tbody>
</table>