@page
@model SoccerTournametManager.App.Frontend.Pages.Pacientes.IndexModel
@{
}
<h1>Listado de equipos</h1>

<a class="btn btn-primary" asp-page="./Create">Nuevo equipo</a>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Municipio</th>
      <th scope="col">Director Tecnico</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var equipo in Model.equipos)
    {
        <tr>
            <th scope="row">@equipo.Id</th>
            <td>@equipo.Nombre</td>
            @if (equipo.Municipio == null) {
              <td>
                <a class="btn btn-primary" asp-page="./AddMunicipio" asp-route-id="@equipo.Id">Agregar minicipio</a>
              </td>
            }
            else {
              <td>@equipo.Municipio.Nombre</td>
            }
            @if (equipo.DirectorTecnico == null) {
              <td>
                <a class="btn btn-primary" asp-page="./AddDirectorTecnico" asp-route-id="@equipo.Id">Agregar tecnico</a>
              </td>
            }
            else {
              <td>@equipo.DirectorTecnico.Nombre</td>
            }
            <td>
              <a class="btn btn-primary" asp-page="./Details" asp-route-id="@equipo.Id">Detalle</a>
              <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@equipo.Id">Editar</a>
            </td>
        </tr>
    }
  </tbody>
</table>