@page
@model SoccerTournametManager.App.Frontend.Pages.NovedadesDePartidos.IndexModel
@{
}
<h1>Lista de novedades de partidos</h1>

<a class="btn btn-primary" asp-page="./Create">Nuevo novedad</a>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Minuto</th>
      <th scope="col">Jugador involucrado</th>
      <th scope="col">Partido</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var novedad in Model.novedades)
    {
        <tr>
            <th scope="row">@novedad.Id</th>
            <td>@novedad.Novedad</td>
            <td>@novedad.Minuto</td>  
            @if (@novedad.JugadorInvolucrado != null)
            {
              <td>@novedad.JugadorInvolucrado.Nombre</td>
            }
            else
            {
              <td>
                <a class="btn btn-primary" asp-page="./AddJugadorInvolucrado" asp-route-id="@novedad.Id">Asignar jugador</a>
              </td>
            }
            @if (@novedad.Partido != null)
            {
              <td>@novedad.Partido.EquipoLocal.Nombre VS @novedad.Partido.EquipoVisitante.Nombre</td>
            }
            else
            {
              <td>
                <a class="btn btn-primary" asp-page="./AddPartido" asp-route-id="@novedad.Id">Asignar partido</a>
              </td>
            }
            <td>
              <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@novedad.Id">Editar</a>
              <a class="btn btn-primary" asp-page="./Details" asp-route-id="@novedad.Id">Detalle</a>
            </td>
        </tr>
    }
  </tbody>
</table>