@page
@model SoccerTournametManager.App.Frontend.Pages.Jugadores.DetailsModel
@{
}
<h1>Detalle del jugador</h1>
<div class="card m-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.jugador.Nombre</h5>
    <p class="card-text">
        <p> <strong>Id:</strong> @Model.jugador.Id</p>
        <p> <strong>Numero:</strong> @Model.jugador.Numero</p>
        <p> <strong>Posicion:</strong> @Model.jugador.Posicion</p>
    </p>
  </div>
</div>

<h2>Equipo actual</h2>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Director Tecnico</th>
    </tr>
  </thead>
  <tbody>
    @if (Model.jugador.Equipo != null)
    {
      <tr>
        <th scope="row">@Model.jugador.Equipo.Id</th>
        <td>@Model.jugador.Equipo.Nombre</td>
        <td>@Model.jugador.Equipo.DirectorTecnico.Nombre</td>
      </tr>
    }
  </tbody>
</table>
<a class="btn btn-primary btn-block" asp-page="./Index">Back</a>
