@page
@model SoccerTournametManager.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<h1>Lista de Jugadores</h1>

<a class="btn btn-primary" asp-page="./Create">Nuevo jugador</a>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Documento</th>
      <th scope="col">Telefono</th>
      <th scope="col">Numero</th>
      <th scope="col">Posicion</th>
      <th scope="col">Equipo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var jugador in Model.jugadores)
    {
        <tr>
            <th scope="row">@jugador.Id</th>
            <td>@jugador.Nombre</td>
            <td>@jugador.Documento</td>
            <td>@jugador.Telefono</td>
            <td>@jugador.Numero</td>
            <td>@jugador.Posicion</td>
            @if (jugador.Equipo == null) {
              <td>
                <a class="btn btn-primary" asp-page="./AddEquipo" asp-route-id="@jugador.Id">Agregar equipo</a>
              </td>
            }
            else {
              <td>@jugador.Equipo.Nombre</td>
            }
            <td>
              <a class="btn btn-primary" asp-page="./Details" asp-route-id="@jugador.Id">Detalle</a>
              <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@jugador.Id">Editar</a>
            </td>
        </tr>
    }
  </tbody>
</table>